.card {
  min-height: 40%;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 10rem;
  color: #0000008f;
  box-shadow: 0 5px 10px 0 #00000040, 0 15px 20px 0 #00000020;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  z-index: 10;

  &:nth-last-child(2) {
    transform: translateY(-11px);
  }

  &:nth-last-child(3) {
    transform: translateY(-22px);
  }
}