$primary-font: "Magilio";

@mixin background-cover($url, $position: center, $size: cover) {
  background: url($url) $position / $size no-repeat;
}

@mixin moveUpDownAnimation($delay: 0s) {
  animation: moveUpDownWithoutRotate 2s linear infinite $delay;
}

.homepage-section-one {
  @include background-cover("../../assets/BackgroundGradient.png", 0% 100%);
}

.heart-bg {
  @include background-cover(
    "../../assets/heart-front-page.svg",
    70% 85%,
    contain
  );
  background-size: 30%;
}

.arrow-bg {
  @include background-cover("../../assets/arrow-bg.svg", 50% 90%);
  background-size: 15%;
}

@keyframes moveUpDownWithoutRotate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animation-words {
  li:nth-child(1) p {
    @include moveUpDownAnimation();
  }

  li:nth-child(2) p {
    @include moveUpDownAnimation(0.4s);
  }

  li:nth-child(3) p {
    @include moveUpDownAnimation(0.8s);
  }

  li:nth-child(4) p {
    @include moveUpDownAnimation(1.2s);
  }

  li:nth-child(5) p {
    @include moveUpDownAnimation(1.6s);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.circle-border {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  background-color: white;
  border-radius: 84px 84px 0px 0px;

  h2 {
    font-family: $primary-font;
  }
}
