// .color-effect {
//   background: linear-gradient(120deg, #6832ae, #ae36b6);
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.homepage-section-one {
  background: url('../../images/BackgroundGradient.png') 0% 100% / cover no-repeat;
}

.heart-bg {
  background: url('../../images/heart-front-page.svg') 70% 85% / contain no-repeat;
  background-size: 30%;
}

.arrow-bg {
  background: url('../../images/arrow-bg.svg') 50% 90% / cover no-repeat;
  background-size: 15%;
}

@keyframes moveUpDownWithoutRotate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animation-words li:nth-child(1) p {
  animation: moveUpDownWithoutRotate 2s linear infinite;
}

.animation-words li:nth-child(2) p {
  animation: moveUpDownWithoutRotate 2s linear infinite 0.4s;
}

.animation-words li:nth-child(3) p {
  animation: moveUpDownWithoutRotate 2s linear infinite 0.8s;
}

.animation-words li:nth-child(4) p {
  animation: moveUpDownWithoutRotate 2s linear infinite 1.2s;
}

.animation-words li:nth-child(5) p {
  animation: moveUpDownWithoutRotate 2s linear infinite 1.6s;
}

.blurs {
  backdrop-filter: blur(5px);
}

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
}

.carousel-text {
  display: inline-flex;
  animation: marquee 45s linear infinite;
}

.carousel-text p {
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.circle-border {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  background-color: white;
  border-radius: 84px 84px 0px 0px;
  -webkit-border-radius: 84px 84px 0px 0px;
  -moz-border-radius: 84px 84px 0px 0px;

  h2 {
    font-family: 'Magilio';
  }
}

.card-benefit {
  background: url('../../images/BackgroundGradient.png') center / cover no-repeat;
  box-shadow: 10px -10px 0 1px #000;
}
