.color-effect {
  background: linear-gradient(120deg, #6832ae, #ae36b6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage-section-one {
  background: url('../../images/BackgroundGradient.png') center / cover no-repeat;
  font-family: 'Magilio', sans-serif;
}

.heart-bg {
  background: url('../../images/heart-front-page.svg') 70% 85% / cover no-repeat;
  background-size: 30%;
}

.arrow-bg {
  background: url('../../images/arrow-bg.svg') 50% 90% / cover no-repeat;
  background-size: 15%;
}

.stack {
  width: 180px;
  height: 250px;
  position: relative;

  &:hover {
    .stack__card:nth-child(1) {
      transform: translate(0%, -50%) rotate(15deg);
    }

    .stack__card:nth-child(2) {
      transform: translate(-100%, -50%) rotate(-15deg);
    }

    .stack__card:nth-child(3) {
      transform: translate(-50%, -55%);
    }
  }

  &__card {
    width: 80%;
    min-height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 10rem;
    color: #0000008f;
    box-shadow: 0 5px 10px 0 #00000040, 0 15px 20px 0 #00000020;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 10;

    &:nth-last-child(1) {
      $--y: calc(-50% + 15px);
      transform: translate(-50%, $--y) scale(1.05);
    }

    &:nth-last-child(2) {
      $--y: calc(-50%);
      transform: translate(-50%, $--y) scale(1);
    }

    &:nth-last-child(3) {
      $--y: calc(-50% - 15px);
      transform: translate(-50%, $--y) scale(0.95);
      box-shadow: 0 0 1px 1px #00000003;
    }
  }
}

.test {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

$--y: calc(-50%);

@keyframes swap {
  50% {
    transform: translate(-50%, calc($--y - 125px)) scale(0.85) rotate(-5deg);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translate(-50%, calc($--y - 15px)) scale(0.85);
    z-index: -1;
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    transform: translateY(-10px) rotate(-6deg);
  }
}

.animation-words li p {
  animation: moveUpDown 2s linear infinite;
}

.animation-words li:nth-child(2n) p {
  animation-name: moveUpDownWithoutRotate;
}

@keyframes moveUpDownWithoutRotate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animation-words li:nth-child(1) p {
  animation: moveUpDown 2s linear infinite;
}

.animation-words li:nth-child(2) p {
  animation: moveUpDownWithoutRotate 2s linear infinite 0.4s;
}

.animation-words li:nth-child(3) p {
  animation: moveUpDown 2s linear infinite 0.8s;
}

.animation-words li:nth-child(4) p {
  animation: moveUpDownWithoutRotate 2s linear infinite 1.2s;
}

.animation-words li:nth-child(5) p {
  animation: moveUpDown 2s linear infinite 1.6s;
}

.blurs {
  backdrop-filter: blur(5px);
}

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
}

.carousel-text {
  display: inline-flex;
  animation: marquee 45s linear infinite;
}

.carousel-text p {
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.circle-border {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  background-color: white;
  border-radius: 84px 84px 0px 0px;
  -webkit-border-radius: 84px 84px 0px 0px;
  -moz-border-radius: 84px 84px 0px 0px;

  h2 {
    font-family: 'Magilio';
  }
}
