.navigation-collapsed {
    width: 256px;
}

.slide-enter, 
.slide-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.slide-enter-active, 
.slide-exit {
  max-height: 200px; /* Это примерное значение, убедитесь, что оно больше, чем реальная максимальная высота вашего меню */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
