.changing-colors svg {
  transition: fill 1s;
}

.header {
  position: relative;
  overflow: hidden;
  height: 71px;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;

    background-image: url("./../../assets/BackgroundGradient.png");
    background-size: cover;
    background-position: 0 100%;

    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(40px);
  }
}

@keyframes changeColor {
  0%,
  100% {
    color: #d8bfff;
  }
  33% {
    color: #ffde59;
  }
  67% {
    color: #8560bf;
  }
}

@keyframes changeColor2 {
  0%,
  100% {
    color: #8560bf;
  }
  33% {
    color: #d8bfff;
  }
  67% {
    color: #ffde59;
  }
}

@keyframes changeColor3 {
  0%,
  100% {
    color: #ffde59;
  }
  33% {
    color: #8560bf;
  }
  67% {
    color: #d8bfff;
  }
}

.svg-container-one {
  animation: changeColor 6s infinite;
}

.svg-container-two {
  animation: changeColor2 6s infinite;
}

.svg-container-three {
  animation: changeColor3 6s infinite;
}
