@mixin background-cover($url, $position: center, $size: cover) {
  background: url($url) $position / $size no-repeat;
}

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
}

.carousel-text {
  display: inline-flex;
  animation: marquee 45s linear infinite;

  p {
    margin: 0;
    padding: 0;
  }
}

.blurs {
  backdrop-filter: blur(5px);
}

.card-benefit {
  @include background-cover("../../../assets/BackgroundGradient.png");
  box-shadow: 10px -10px 0 1px #000;
}
