@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);

@font-face {
  font-family: 'Magilio';
  src: local('Magilio'), 
       url('./fonts/MagilioRegular.ttf') format('truetype'),
       url('./fonts/MagilioRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

._img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
