.wrapper {
  background: url('./images/BackgroundGradient.png') center / cover no-repeat;
  font-family: 'Magilio', sans-serif;
}

@font-face {
  font-family: 'Magilio';
  src: local('Magilio'), 
       url('./fonts/MagilioRegular.ttf') format('truetype'),
       url('./fonts/MagilioRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}